<nav class="nav">
	<ul class="nav__menu right">
		<li class="nav__menu-item"><a href="/aktualni-rocnik">Aktuální ročník</a>
			<ul class="nav__submenu">
				<li class="nav__submenu-item"> <a href="/aktualni-rocnik/program">Program</a></li>
				<li class="nav__submenu-item"> <a href="/aktualni-rocnik/ubytovani">Ubytování</a></li>
				<li class="nav__submenu-item"> <a href="/aktualni-rocnik/materialy-ke-stazeni">Materiály ke stažení</a></li>
			</ul>
		</li>
		<li class="nav__menu-item"><a href="/historie-konference">Historie konference</a>
			<ul class="nav__submenu">
				<li class="nav__submenu-item"> <a href="/historie-konference/2014">2014</a></li>
				<li class="nav__submenu-item"> <a href="/historie-konference/2013">2013</a></li>
				<li class="nav__submenu-item"> <a href="/historie-konference/1990-2012">1990-2012</a></li>
			</ul>
		</li>
		<li class="nav__menu-item"><a href="/kontakt">Kontakt</a></li>
	</ul>
</nav>