nav {
	ul {
		list-style: none;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.nav {
	width: 500px;
	margin: 0 auto;
	background: $darker;
	color: #f0f0f0;
	a {
		display: block;
		padding: 0 16px;
		line-height: inherit;
		cursor: pointer;
	}

	&__menu {
		line-height: 45px;
		font-weight: 700;
		text-transform: uppercase;

		&-item {
			display: inline-block;
			position: relative;
			&:hover {
				background-color: $darker;
				.nav__submenu {
					display: block;
				}
			}
		}

	}


	&__submenu {
		font-weight: 300;
		text-transform: none;
		display: none;
		position: absolute;
		width: 220px;
		background-color: $background-color;

		&-item {
			&:hover {
				background: $darker;
			}
		}

	}

}