@import 'fonts';


// NAV
nav {
	display: inline-block;
}

// HEADINGS
h1 {
	color: $text-color;
	font-family: $header-font-family;
	&.page-heading {
		font-size: 62%;
		text-transform: uppercase;
		letter-spacing: 1.4em;
	}
}

// LISTS
ul.no-bullets {
	li {
		list-style: none;
	}
}