$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 90%;
$base-line-height: 1.5;

$header-font-family: 'Trykker', Georgia, Garamond, serif;;

// -----------
// COLORS
// -----------
$lighter: rgba( #fff, 0.38 );
$darker: rgba( #000, 0.38 );

$blue: blue;
$milk: #f2f2f2;
$gray: #444444;
$red: firebrick;

$background-color: $milk;
$text-color: $gray;
$link-color: $blue;
$header-color: $red;

@mixin outer-text-shadow($text-shadow-color) {
	text-shadow: 1px 1px 0 $text-shadow-color;
}
@mixin inner-text-shadow($text-shadow-color) {
	text-shadow: -1px -1px 0 $text-shadow-color;
}



// ===========

.left {
	float: left;
}
.right {
	float: right;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}