$base-font-family: Helvetica, sans-serif;
$base-font-size: 100%;
$base-line-height: 1.5;

// -----------
// COLORS
// -----------

$blue: blue;
$milk: #f2f2f2;
$gray: #444444;


$text-color: $gray;
$link-color: $blue;
$background-color: $milk;